<h1>Step 3: Summary</h1>

<h2>Your Tesla {{selectedModel?.description}}</h2>

<table>
  <tr>
    <td>{{selectedConfig?.description}}</td>
    <td>{{selectedConfig?.price | currency:'USD'}}</td>
  </tr>
  <tr>
    <td>
      Range: {{selectedConfig?.range}} miles - Max speed: {{selectedConfig?.speed}}
    </td>
    <td></td>
  </tr>
  <tr>
    <td>{{selectedColor?.description}} Color</td>
    <td>{{selectedColor?.price | currency:'USD'}}</td>
  </tr>
  <tr *ngIf="includeTow">
    <td>Tow Hitch Package</td>
    <td>{{'1000' | currency:'USD'}}</td>
  </tr>
  <tr *ngIf="includeYoke">
    <td>Yoke steering wheel</td>
    <td>{{'1000' | currency:'USD'}}</td>
  </tr>
  <tr>
    <td>TOTAL COST</td>
    <td>{{totalCost()  | currency:'USD'}}</td>
  </tr>
</table>

<app-image [selectedModel]="selectedModel" [selectedColor]="selectedColor" ></app-image>
